.search-form {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 30px;
}

.search-form input {
  margin-right: 10px;
  height: 30px;
  text-align: center;
  border: solid 2px #446880;
}

.search-form button {
  height: 30px;
  border-radius: 10;
  border: solid 2px #446880;
  background-color: #aaaee4;
  cursor: pointer;
}

.btn__container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.load-more {
  height: 30px;
  border-radius: 10;
  border: solid 2px #446880;
  background-color: #aaaee4;
  cursor: pointer;
}

.hidden {
  opacity: 0;
  visibility: hidden;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
}
.photo-card {
  flex-basis: calc((100% - 40px) / 4);
  &:not(:nth-child(4n)) {
    margin-right: 10px;
  }
}

.photo-card img {
  width: 320px;
  height: 220px;
}

.info {
  display: flex;
  align-items: center;
  justify-content: center;
}

.info-item {
  display: flex;
  text-align: center;
  &:not(:last-child) {
    margin-right: 5px;
  }
}
